body
{
    background-color: #121212 !important;
    margin: 0;
    padding: 0;
    font-family: "WDXL Lubrifont TC", sans-serif!important;
    font-weight: 400!important;
    font-style: normal!important    ;   
}

#name
{
    width: 100vw;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    top: 2vh;
    color: #F7FFF7;
    font-size: 5rem;
    background-color: #121212;

}


#about
{
    width: 63vw;
    height: 20vh;
    position: relative;
    top: 20vh;
    left: 9vw;
}

#aboutMe
{
    color:#FF6B6B;     
    font-size: 3rem;
    
}

#aboutText
{
    left: 2vw;
    position: relative;
    font-size: 2rem;
}

p
{
    color: 	#FF6B6B;
}

#projects
{
    width: 80vw;
    height:100vh;
    background-color: #FF6B6B;
    position: relative;
    left: 8vw;
    top:70vh;
}

.GIF
{
    width: 30vw;
    height: 30vh;
    cursor:pointer;
}

#ZombieSurv
{
    position: relative;
    left: 5vw;
    top: 24vh;
}

#OverdueDate
{
    position: relative;
    left: 13vw;
    top: 24vh;
}

#CompassGame
{
    position: relative;
    left: 25vw;
    top: 35vh;
}

#contact
{
    height: 30vh;
    width: 100vw;
    background-color: teal;
    position: relative;
    top: 100vh;
    text-align: center;
}

#contactMe
{
    color: #F7FFF7;
    top: 3vh;
    font-size: 3rem;

}

#contactText
{
    color: #F7FFF7; 
}

#educationContainer
{
    width: 90vw;
    height: 19vh;
    background-color: #F7FFF7;
    position: relative;
    top: 72vh;
    left: 5vw;
    text-align: center;
}

#eduTitle
{
    font-size: 3rem;
    font-style: bold;
}

#eduText
{
    font-size: 2rem;
}



a
{
  color: #FFD700 !important; 
  background-color: transparent !important;
  text-decoration: none !important;
}

@media screen and (max-width: 700px)
{
    #name
    {
        width: 100vw;
        text-align: center;
        position: fixed;
        top: 0;
        z-index: 1000;
        top: 2vh;
        color: #F7FFF7;
        font-size: 3rem;
        background-color: #121212;
    }

    #aboutMe
    {
        color:#FF6B6B;     
        font-size: 2rem;
    }

    #aboutText
    {
        left: 2vw;
        position: relative;
        font-size: 1rem;
          font-family: "Underdog", system-ui;
  font-weight: 400;
  font-style: normal;      
    }

    #projects
    {
        width: 80vw;
        height:150vh;
        background-color: #FF6B6B;
        position: relative;
        left: 8vw;
        top:50vh;
    }
}

.font1 {
  font-family: "WDXL Lubrifont TC", sans-serif;
  font-weight: 400;
  font-style: normal;
}
